@font-face {
  font-family: 'SAP Business Suite Symbols';
  src:
    url('https://raj4tshenoy.github.io/fonts/sap-business-suite-symbol/BusinessSuiteInAppSymbols.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
